<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="css/style.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="sidebar">
        <a
          id="home"
          href="#"
          >Home</a
        >
        <a
          id="logout"
          href="/logout"
          >Logout</a
        >
      </div>
      <div id="content">
        <div id="toggle-btn">&#x2194;</div>
        <!-- Dashboard content goes here -->
        <h1 class="m-5">Welcome to Your Dashboard! , <%= user.userName %></h1>
        <div class="row">
          <div class="col-3">
            <ul class="list-group">
              <% if(users.length > 0){ for(let i = 0; i < users.length; i++){ %>
              <li
                class="list-group-item list-group-item-dark cursor-pointer user-list"
                data-id="<%= users[i]._id %>"
              >
                <%= users[i].userName %>
              </li>
              <% } } %>
            </ul>
          </div>
          <div class="col-9">
            <h3 class="start-head">Select user to Chat</h3>
            <div class="chat-section">
              <div id="chat-container"></div>
              <form
                action=""
                id="chat-form"
              >
                <input
                  type="text"
                  name="message"
                  placeholder="Enter message"
                  id="message"
                  class="border"
                  required
                />
                <input
                  type="submit"
                  value="Send"
                  class="btn btn-primary"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var senderId = '<%= user._id %>';
      var recieverId;
      var socket = io('/user-namespace');
      const sidebar = document.getElementById('sidebar');
      const toggleBtn = document.getElementById('toggle-btn');

      toggleBtn.addEventListener('click', () => {
        sidebar.style.display =
          sidebar.style.display === 'none' ? 'block' : 'none';
      });
      

  function encrypt(message) {
    let encryptedMessage = '';
    let base = 2;
    for (let i = 0; i < message.length; i++) {
        let value = message.charCodeAt(i);
        const newValue = value * base
        let encryptedChar = Math.log2(value);
        let newEnc = encryptedChar * 3.14
        encryptedMessage += newEnc + ' ';
    }

    return encryptedMessage.trim();
}

function decrypt(encryptedMessage) {
    let decryptedMessage = '';
  let base = 2;
    const encryptedValues = encryptedMessage.split(' ');
    for (let i = 0; i < encryptedValues.length; i++) {
        let decr = parseFloat(encryptedValues[i]);
        let decredChar = decr / 3.14;
        let value = Math.pow(base, decredChar);
        decryptedMessage += String.fromCharCode(Math.round(value));
    }

    return decryptedMessage;
}

      $(document).ready(function () {
        $('.user-list').click(function () {
          var userId = $(this).attr('data-id');
          recieverId = userId;
          $('.start-head').hide();
          $('.chat-section').show();
          
          socket.emit('chatHistory', {
            senderId: senderId,
            recieverId: recieverId,
          });
        });
      });

      //chat save of user
      $('#chat-form').submit(function (event) {
        event.preventDefault();
        var message = $('#message').val();
        var encryptedMessage = encrypt(message);
        $.ajax({
          url: '/user/save-chat',
          type: 'POST',
          data: {
            senderId: senderId,
            recieverId: recieverId,
            message: encryptedMessage,
          },
          success: function (response) {
            if (response.success) {
              $('#message').val('');
              let chat = response.data.message;
              let html =
                `
                <div class="my-chat"><h5>` +
               decrypt(chat) +
                `</h5></div>
                `;
              $('#chat-container').append(html);
             
              socket.emit('chat', response.data);
              scrollChat();
            } else {
              alert(response.error);
            }
          },
        });
      });

    
      socket.on('loadNewChat', function (data) {
               
        var decryptedMessage = decrypt(data.message);

        if (senderId == data.recieverId && recieverId == data.senderId) {
          let html =
            `
            <div class="his-chat"><h5>` +
              decryptedMessage +
            `</h5></div>
                `;
          $('#chat-container').append(html);
        }
        scrollChat();
      });

      socket.on('loadChatHistory', function (data) {
        $('#chat-container').html('');
        var chatHistory = data.chats;
        let html = '';
        for (let i = 0; i < chatHistory.length; i++) {
          let addClass = '';
          if (chatHistory[i]['senderId'] == senderId) {
            html +=
            `<div class='my-chat` +
            `'><h5>` +
            decrypt(chatHistory[i]['message']) +
            `</h5></div>`;
          } else {
            html +=
            `<div class='his-chat` +
            `'><h5>` +
            decrypt(chatHistory[i]['message']) +
            `</h5></div>`;
          }
          
        }
        $('#chat-container').append(html);
        scrollChat();
      });

      function scrollChat() {
        $('#chat-container').animate(
          {
            scrollTop:
              $('#chat-container').offset().top +
              $('#chat-container')[0].scrollHeight,
          },
          0
        );
      }
    </script>
  </body>
</html>
